block content
  div
    h1 Cheddaboys
    p Choose from our large collection of Cheddaboy!
    a(href='/register') Become an aspiring Cheddaboy
    h1 FlashCard App
    p Register, build and view decks of cards. The front-end is a pile of flaming garbage. It will likely stay that way. I'm learning back-end stuff right now and don't have oodles and boodles of free time.
    a(href='/register') Create an account!