//- const express = require('express');
//- //require looks for packages for express
//- const path = require('path');
//- const app = pug();
//- app.set('view engine', 'pug');

//- //- -let name = "Chris"
//- //- pug has no closing tags or white space in pug

//- app.get('/index',function(req,res){
//-     res.sendFile('/index.pug')