<!DOCTYPE <!DOCTYPE html>
<html> <center><a href= "../firstexpressprojects/views/Index.html">Index</a></center> 
       <center><a href= "../firstexpressprojects/views/Contact.html">Contact US</a></center>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    
</body>
</html>

</title>
    <link rel="stylesheet" href="css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script> src= "style.css"</script>
  </head>
  

  <body>
      <style>
          body 
          {background-color: goldenrod;
              /* background-image: url("wisdom_tree2.jpeg");
              background-repeat: no-repeat; */
          }
          
      
          </style>
    <center><h1>About Us </center></h1>
    
    <p></p>
    <br>
    <div>
       <h1>Who are we really?</h1>
       <br>
       <br> Chris's boutique Mergers and Acquisitions broker specializing in cash flow positive digital assets such as websites, eCommerce (including Amazon FBA and Shopify), membership, lead gen, and software-as-a-service businesses (SAAS), and domain portfolios. Since 2018 Chris's has been matching investors with income streams and business opportunities and entrepreneurs with investors and acquirers who can appreciate their assets as they do.
       <br>
       <br>
       We had to make decisions as to what we would do and more importantly what we wouldn't do. We decided that we would focus on cash flow opportunities and we would not sell speculative assets.
       It is at this point in 2018 that the modern-day Chris's story begins. 
       <br>
         <!-- <img src="../image/computers2.jpeg"> -->

        
        
        
        
        </a>   
    </div>
    
      <br>
    </form>
  </body>
</html>
